{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<style type="text/css">
  html,body{
    height:100%;
  }
  #mynetwork {
   
  }
  .container {
    height:100%;
  }

  .fill{
    width:100%;
    height:100%;
    min-height:100%;
    color:#efefef;
}

.setHeight100 {
  height: 100vh;
}

.setHeight50 {
  height: 50vh;
}

table.legend_table {
      font-size: 11px;
      border-width:1px;
      border-color:#d3d3d3;
      border-style:solid;
    }
    table.legend_table,td {
      border-width:1px;
      border-color:#d3d3d3;
      border-style:solid;
      padding: 2px;
    }
    div.table_content {
      width:80px;
      text-align:center;
    }
    div.table_description {
      width:100px;
    }

    #operation {
      font-size:28px;
    }
    #network-popUp {
      display:none;
      position:absolute;
      top:350px;
      left:170px;
      z-index:299;
      width:250px;
      height:120px;
      background-color: #f9f9f9;
      border-style:solid;
      border-width:3px;
      border-color: #5394ed;
      padding:10px;
      text-align: center;
    }
    

  /* div .vis-button .vis-edit .vis-edit-mode {
    position: absolute;
    top: 150px;
  } */
</style>

<div id="network-popUp">
  <span id="operation">node</span> <br>
  <table style="margin:auto;"><tr>
    <td>id</td><td><input id="node-id" value="new value" /></td>
  </tr>
    <tr>
      <td>label</td><td><input id="node-label" value="new value" /></td>
    </tr></table>
  <input type="button" value="save" id="saveButton" />
  <input type="button" value="cancel" id="cancelButton" />
</div>

<div class="row" style="position: relative; top: 80px;">
    <div  id='mynetwork' class="col-lg-6 setHeight100" style="border-right: 1px dashed lightgrey;">
      
    </div>
    <div class="col-lg-6 setHeight100">
      <div id='editor_holder'>
          <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
      </div>
    </div>
</div>


<script type="text/javascript">
  /**
 * Created by Alex on 5/20/2015.
 */

function loadJSON(path, success, error) {
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function () {
    if (xhr.readyState === 4) {
      if (xhr.status === 200) {
        success(JSON.parse(xhr.responseText));
      }
      else {
        error(xhr);
      }
    }
  };
  xhr.open('GET', path, true);
  xhr.send();
}


function getScaleFreeNetwork(nodeCount) {
  var nodes = [];
  var edges = [];
  var connectionCount = [];

  // randomly create some nodes and edges
  for (var i = 0; i < nodeCount; i++) {
    nodes.push({
      id: i,
      label: String(i)
    });

    connectionCount[i] = 0;

    // create edges in a scale-free-network way
    if (i == 1) {
      var from = i;
      var to = 0;
      edges.push({
        from: from,
        to: to
      });
      connectionCount[from]++;
      connectionCount[to]++;
    }
    else if (i > 1) {
      var conn = edges.length * 2;
      var rand = Math.floor(Math.random() * conn);
      var cum = 0;
      var j = 0;
      while (j < connectionCount.length && cum < rand) {
        cum += connectionCount[j];
        j++;
      }


      var from = i;
      var to = j;
      edges.push({
        from: from,
        to: to
      });
      connectionCount[from]++;
      connectionCount[to]++;
    }
  }

  return {nodes:nodes, edges:edges};
}

var randomSeed = 764; // Math.round(Math.random()*1000);
function seededRandom() {
  var x = Math.sin(randomSeed++) * 10000;
  return x - Math.floor(x);
}

function getScaleFreeNetworkSeeded(nodeCount, seed) {
  if (seed) {
    randomSeed = Number(seed);
  }
  var nodes = [];
  var edges = [];
  var connectionCount = [];
  var edgesId = 0;


  // randomly create some nodes and edges
  for (var i = 0; i < nodeCount; i++) {
    nodes.push({
      id: i,
      label: String(i)
    });

    connectionCount[i] = 0;

    // create edges in a scale-free-network way
    if (i == 1) {
      var from = i;
      var to = 0;
      edges.push({
        id: edgesId++,
        from: from,
        to: to
      });
      connectionCount[from]++;
      connectionCount[to]++;
    }
    else if (i > 1) {
      var conn = edges.length * 2;
      var rand = Math.floor(seededRandom() * conn);
      var cum = 0;
      var j = 0;
      while (j < connectionCount.length && cum < rand) {
        cum += connectionCount[j];
        j++;
      }


      var from = i;
      var to = j;
      edges.push({
        id: edgesId++,
        from: from,
        to: to
      });
      connectionCount[from]++;
      connectionCount[to]++;
    }
  }

  return {nodes:nodes, edges:edges};
}

  var nodes = null;
  var edges = null;
  var network = null;
  // randomly create some nodes and edges
  var data = getScaleFreeNetwork(25);
  var seed = 2;

  // function setDefaultLocale() {
  //   var defaultLocal = navigator.language;
  //   var select = document.getElementById('locale');
  //   select.selectedIndex = 0; // set fallback value
  //   for (var i = 0, j = select.options.length; i < j; ++i) {
  //     if (select.options[i].getAttribute('value') === defaultLocal) {
  //       select.selectedIndex = i;
  //       break;
  //     }
  //   }
  // }

  function destroy() {
    if (network !== null) {
      network.destroy();
      network = null;
    }
  }

  function draw() {
    destroy();
    nodes = [];
    edges = [];

    // create a network
    var container = document.getElementById('mynetwork');
    var options = {
      layout: {randomSeed:seed}, // just to make sure the layout is the same when the locale is changed
      locale: 'en',
      manipulation: {
        addNode: function (data, callback) {
          // filling in the popup DOM elements
          document.getElementById('operation').innerHTML = "Add Node";
          document.getElementById('node-id').value = data.id;
          document.getElementById('node-label').value = data.label;
          document.getElementById('saveButton').onclick = saveData.bind(this, data, callback);
          document.getElementById('cancelButton').onclick = clearPopUp.bind();
          document.getElementById('network-popUp').style.display = 'block';
        },
        editNode: function (data, callback) {
          // filling in the popup DOM elements
          document.getElementById('operation').innerHTML = "Edit Node";
          document.getElementById('node-id').value = data.id;
          document.getElementById('node-label').value = data.label;
          document.getElementById('saveButton').onclick = saveData.bind(this, data, callback);
          document.getElementById('cancelButton').onclick = cancelEdit.bind(this,callback);
          document.getElementById('network-popUp').style.display = 'block';
        },
        addEdge: function (data, callback) {
          if (data.from == data.to) {
            var r = confirm("Do you want to connect the node to itself?");
            if (r == true) {
              callback(data);
            }
          }
          else {
            callback(data);
          }
        }
      }
    };
    network = new vis.Network(container, data, options);
  }

  function clearPopUp() {
    document.getElementById('saveButton').onclick = null;
    document.getElementById('cancelButton').onclick = null;
    document.getElementById('network-popUp').style.display = 'none';
  }

  function cancelEdit(callback) {
    clearPopUp();
    callback(null);
  }

  function saveData(data,callback) {
    data.id = document.getElementById('node-id').value;
    data.label = document.getElementById('node-label').value;
    clearPopUp();
    callback(data);
  }

  function init() {
    // setDefaultLocale();
    draw();
  }


  var vm = new Vue({
  el: "#editor_holder",

  components: {
      "vue-form-generator": VueFormGenerator.component
  },

  data() {
    return {
      model: {
          id: 1,
          name: "John Doe",
          password: "J0hnD03!x4",
          age: 35,
          skills: ["Javascript", "VueJS"],
          email: "john.doe@gmail.com",
          status: true
      },
      schema: {},
      formOptions: {
          validateAfterLoad: true,
          validateAfterChanged: true
      }
    };
  },
  mounted () {
    var self = this;
    $.get('http://localhost:5001/util/build-form/claims', function(response){
      self.schema = response;
    })
  },
  
  methods: {
      prettyJSON: function(json) {
          if (json) {
              json = JSON.stringify(json, undefined, 4);
              json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
              return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function(match) {
                  var cls = 'number';
                  if (/^"/.test(match)) {
                      if (/:$/.test(match)) {
                          cls = 'key';
                      } else {
                          cls = 'string';
                      }
                  } else if (/true|false/.test(match)) {
                      cls = 'boolean';
                  } else if (/null/.test(match)) {
                      cls = 'null';
                  }
                  return '<span class="' + cls + '">' + match + '</span>';
              });
          }
      }
  },
  
});

</script>

{% endblock %}